@use '@reaganmcf/demo.styles' as styles;

%basic-btn {
  background: none;
  border: 1px solid #d9d9d9;
  color: black;
  box-shadow: none;
  border-radius: 2px;
  padding: 5px 10px;
}

.button {
  @extend %basic-btn; 

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 80%;
  }

  &-primary {
    color: white;
    background-color: styles.$color-primary;
    box-shadow: 1px 1px 2px #dddddd;
    border: none;
  }

  &-text {
    border: none;
  }

  &-link {
    border: none;
    color: styles.$color-primary;
  }

  &-default-dangerous {
    border-color: styles.$color-danger;
    color: styles.$color-danger;
  }

  &-primary-dangerous {
    background-color: styles.$color-danger;
  }

  &-text-dangerous {
    border: none;
    color: styles.$color-danger;
  }

  &-link-dangerous {
    color: styles.$color-danger;
  }
}
